<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle space-y-5">

      <div class="flex items-center justify-between gap-x-3">
        <input type="text" [(ngModel)]="searchAdmins" class="text-xs input" placeholder="Buscar administrador"
          (input)="searchAdminsByName()">
        <a routerLink="agregar" class="text-xs btn-primary">Agregar administrador</a>
      </div>


      @if (isLoading) {
      <div class="flex items-center justify-center bg-gray-100 rounded-xl min-h-80">
        <p>Cargando...</p>
      </div>
      }

      @else {
      <div class="overflow-hidden rounded-md min-h-80">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-primary">
            <tr class="text-xs text-white uppercase">
              <th scope="col" class="px-6 py-3 font-medium text-start">Nombre</th>
              <th scope="col" class="px-6 py-3 font-medium text-center">Edad</th>
              <th scope="col" class="px-6 py-3 font-medium text-center">dni</th>
              <th scope="col" class="px-6 py-3 font-medium text-center">Fecha de reg.</th>
              <th scope="col" class="px-6 py-3 font-medium text-center">Acción</th>
            </tr>
          </thead>
          <tbody class="divide-y-2 divide-white">
            <tr *ngFor="let admin of admins" routerLink="{{ admin.idAdmin }}"
              class="text-sm font-medium text-gray-800 uppercase bg-gray-100 cursor-pointer hover:bg-gray-50">
              <td class="px-6 py-2.5 whitespace-nowrap">{{ admin.user.name }} {{ admin.user.lastname }}</td>
              <td class="px-6 py-2.5 text-center whitespace-nowrap">{{ calculateAge(admin.user.birthdate) }}</td>
              <td class="px-6 py-2.5 text-center whitespace-nowrap">{{ admin.user.dni }}</td>
              <td class="px-6 py-2.5 text-center whitespace-nowrap">{{ admin.user.createdAt | date: 'dd/MM/yyyy' }}
              </td>
              <td class="px-6 py-2.5 whitespace-nowrap text-end">
                <div class="flex items-center justify-center gap-x-3">
                  <a routerLink="{{ admin.idAdmin }}/editar" title="Editar"
                    class="p-2 text-white rounded-md bg-primary hover:bg-primary-dark">
                    <svg class="text-white size-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512">
                      <path
                        d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" />
                    </svg>
                  </a>
                  <button (click)="deleteAdmin(admin.idAdmin)" type="button" title="Eliminar"
                    class="p-2 text-white bg-red-600 rounded-md hover:bg-red-700">
                    <svg class="text-white size-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512">
                      <path
                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                    </svg>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="flex items-center justify-between px-6 text-sm gap-x-10">
        <p>{{ totalAdmins }} resultados</p>

        <nav class="flex items-center">
          <button *ngFor="let page of pages" (click)="goToPage(page)"
            class="px-3 py-1 text-sm rounded-md hover:bg-gray-200"
            [ngClass]="{ 'bg-primary text-white font-semibold pointer-events-none': page === currentPage }">
            {{ page }}
          </button>
        </nav>
      </div>
      }



    </div>
  </div>
