<section class="space-y-10">
  <div class="flex items-center gap-x-3">
    <a routerLink=".." class="p-1 text-gray-500 rounded-full hover:text-black hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-left size-5">
        <path d="m15 18-6-6 6-6" />
      </svg>
    </a>
    <h2>Detalles del Practicante</h2>
  </div>

  <article class="grid grid-cols-[auto_1fr] px-10 gap-x-10">
    <div class="bg-gray-100 rounded-full size-40"></div>

    <div class="space-y-2">
      <div class="flex items-center gap-x-10">
        <h1 class="">Nombre completo del Practicante</h1>
        <section class="flex items-center gap-x-2">
          <div class="bg-green-500 rounded-full size-3"></div>
          <p class="text-sm font-medium">Activo</p>
        </section>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">DNI:</p>
        <p class="text-sm font-semibold">73323509</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Área:</p>
        <p class="text-sm font-semibold">Administración</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Universidad:</p>
        <p class="text-sm font-semibold">Universidad Tecnológica del Perú</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Horas Trabajadas/Horas de Certificacion:</p>
        <p class="text-sm font-semibold">48/400 horas</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Nacimiento:</p>
        <p class="text-sm font-semibold">18/06/2004</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Registro:</p>
        <p class="text-sm font-semibold">27/11/2024</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Modificacion:</p>
        <p class="text-sm font-semibold">-</p>
      </div>

      <div class="flex items-center py-5 gap-x-2">
        <a routerLink="editar" class="btn-primary">Editar</a>
        <button type="button" class="btn-danger">Eliminar</button>
      </div>
    </div>
  </article>

</section>
