<section class="w-full h-full px-20 py-10 space-y-10">
  <h1>Perfil de Usuario</h1>

  <article class="grid grid-cols-[auto_1fr] px-10 gap-x-10">
    <div class="bg-gray-100 rounded-full size-40"></div>

    <div class="space-y-2">
      <div class="flex items-center gap-x-10">
        <h1 class="">Nombre completo del Administrador</h1>
        <section class="flex items-center gap-x-2">
          <div class="bg-green-500 rounded-full size-3"></div>
          <p class="text-sm font-medium">Activo</p>
        </section>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">ID Usuario:</p>
        <p class="text-sm font-semibold">f7389511-3685-4a44-a2ae-673f568e7b30</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Rol:</p>
        <p class="text-sm font-semibold">Administrador</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">DNI:</p>
        <p class="text-sm font-semibold">73323509</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Nacimiento:</p>
        <p class="text-sm font-semibold">18/06/2004</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Registro:</p>
        <p class="text-sm font-semibold">27/11/2024</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Modificacion:</p>
        <p class="text-sm font-semibold">-</p>
      </div>

      <div class="flex items-center py-5 gap-x-2">
        <a routerLink="editar" class="btn-primary">Editar</a>
        <button type="button" class="btn-danger">Eliminar</button>
      </div>
    </div>
  </article>
</section>
